<launch>
	<group ns="roversim">
        <node pkg="roversim" type="roversim_node" name="sim" required="true" output="screen"/>
        <!-- <node pkg="roversim" name="control" type="draw_square"/> -->
        <node pkg="rovers" type="scout.py" name="scout1" output="screen">
            <param name="start_position/x" type="double" value="2.0" />
            <param name="start_position/y" type="double" value="1.0" />
        </node>
        <node pkg="rovers" type="scout.py" name="scout2" output="screen">
            <param name="start_position/x" type="double" value="4.0" />
            <param name="start_position/y" type="double" value="1.0" />
        </node>
        <node pkg="rovers" type="scout.py" name="scout3" output="screen">
            <param name="start_position/x" type="double" value="6.0" />
            <param name="start_position/y" type="double" value="1.0" />
        </node>
	</group>
</launch>